{% extends "layout.html" %}

{% block title %}
    Check in
{% endblock %}

{% block main %}
	<head>
		<script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" language="javascript" ></script>
		<script src="js/appParse.js" type="text/javascript" language="javascript" ></script>
		<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="css/style.css" type="text/css" rel="stylesheet" />

	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<h1>Leave a message here.</h1><br>
				<form action="/message_board" method="post" id="userform">
					<textarea class="form-control" rows="3" id="submission" cols="50" name="message" form="userform" placeholder="Message"></textarea>
					<br><br><button class="buttonBasic" type="submit">Send</button>
				</form>
				<hr>
			</div>
			<br></br>

			<div id="user">
				<div id="displayuserinfo">
				<ul>
		            <center><h2>Admin Notifications</h2></center><br>
					{% for message in admin_messages %}
		            <li><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{message["comment"]}}</b></li>
		            {% endfor %}
        		</ul>
				</div>
			</div>


			<br></br>
			<div id="divtable">
			    <table id="table2">
			        <thead>
			            <th>Username</th>
			            <th>Comment</th>
			            <th> Post Time </th>
			        </thead>
			        <tbody>
			            {% for entry in forum %}
			                <tr>
			                    <td> {{ entry["username"] }}</td>
			                    <td id="message"><p class="comment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ entry["comment"] }}</p></td>
			                	<td> {{ entry["post_time"] }} </td>
			                </tr>
			            {% endfor %}
			        </tbody>
    			</table>
			</div>
		</div>
	</body>
{% endblock %}