nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* color for brand */
nav .navbar-brand .red
{
    color: #ea433b;
}

.headimage {
    border: grey 2px solid;
}

body
{
    background-color: white;
    background-image: url("backgrounds/Brick-0207.jpg");
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}


main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

    height: auto;
    width: auto;

    background-color: white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrt0JLNTyBbCaFEj0zHO0ldIA7LFv6DpMdjV5kc-QEizo-bPah");


}



main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

h1 {
font-size: 140%;
font-weight:bold;
padding-bottom:8px;
font-family: Tahoma, Geneva, sans-serif;
color: #560505; /* dark red */
}



h2 {
font-size: 120%;
font-weight:bold;
padding-bottom:8px;
font-family: Tahoma, Geneva, sans-serif;
}

h3 {
font-size: 100%;
font-weight:normal;
font-style:italic;
padding-bottom:6px;
font-family: Tahoma, Geneva, sans-serif;

}


h4 {
font-size: 100%;
font-weight:normal;
padding-bottom:1px;
font-family: Tahoma, Geneva, sans-serif;
}

h5 {
font-size: 95%;
font-weight:normal;
padding-bottom:1px;
font-family: Tahoma, Geneva, sans-serif;
border: black;
}



h6 {
font-size: 95%;
color: grey;
font-weight:normal;
padding-bottom:1px;
font-family: Tahoma, Geneva, sans-serif;
border: black;
}

/* Style index page */
#index {
    height: 100vh;
}

.carousel {
    max-height: 92vh;
}

.slide {
    max-height: 92vh;
}

.carousel-inner {
    max-height: 92vh;
}

.carousel-item {
    max-height: 92vh;
}

/* Add a darkening overlay to index images */
#darkbg1 {
    display: table;
    /* Center and scale the image nicely */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("backgrounds/haven3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    width: 100%;
}

#darkbg2 {
    display: table;
    /* Center and scale the image nicely */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("backgrounds/haven2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    width: 100%;
}

#darkbg3 {
    display: table;
    /* Center and scale the image nicely */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("backgrounds/haven4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    width: 100%;
}

#darkbg4 {
    display: table;
    /* Center and scale the image nicely */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("backgrounds/haven1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    width: 100%;
}

/* style <hr> on index page */
.index {
    display: block;
    height: 1px;
    width: 35%;
    border: 0;
    border-top: 1px solid #ccc;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

/* Style User_info Tables and Message Board Table */
#user {
    height: auto;
    text-decoration: none;
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    border-style: outset;
    border-width: 2px;
    border-color: lightgrey;
    display: inline-block;
    width: 50%;
    color: #560505; /* dark red */
    padding: 28px;
    margin: 4px 2px;

}

#displayuserinfo {
    text-align: left;
    height: auto;
    width: 100%;
    padding: 20px;

}

#user a {
    text-decoration: none;
}

#divtable {
    margin: 5px 50px;
}

#divtable2 {
    margin: 5px 200px;
}


#table2 {
    border-collapse: collapse;
    width: 100%;
}

#table2 th {
    background-color: #560505; /* dark red */
    color: white;
    max-width: 200px;
    word-wrap: break-word;
}

#table2 td, th {
    border: 1px solid #ddd;
    padding: 8px;
    max-width: 500px;
    word-wrap: break-word;
}

#table2 tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table2 tr:nth-child(odd) {
    background-color: white;

}

#table2 tr:hover {
    background-color: #ddd;
}

#message {
    text-align: left;
}

.comment {
    padding: 0.2cm 1.2cm;
}


#submission {
    cursor: auto;

}

/* Style Message Board input */
#textarea {
    width: 50%;
    height: 150px;
    padding: 5px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    word-wrap: break-word;

}

/* Style Upcoming Task and Task Suggestion on Index Page */
#upcoming {
    width: max-content;
    text-align: center ;
    margin-left: auto ;
    margin-right: auto ;
}

#suggestion {
    width: max-content;
    text-align: left;
    margin-left: auto ;
    margin-right: auto ;
    background-color: black;
    color: white;
    padding: 18px 36px 13px 24px;
    font-size: 85%;
    line-height: 170%;

}

/* Style Rankings Tables */
#table1 {
    border-collapse: collapse;
    width: 100%;
}

#table1 th {
    background-color: #560505; /* dark red */
    color: white;
}

#table1 td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table1 tr:first-child td {
    background-color: #FEF5F8; /* light pink */
}

#table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table1 tr:nth-child(odd) {
    background-color: white;

}

#table1 tr:hover {
    background-color: #ddd;
}


/* style left sidebar for Available Tasks Page */
#sidebar {
    padding:15px;
    margin-top:10px;
}

.sidebar-nav {
    margin-left:50px;
}


.vertical-menu {
    width: 168px; /* Set a width if you like */
}

.vertical-menu a.nonactive1 {
    background-color: #f44336; /* Red */
    color: white;
    display: block;
    padding: 16px;
    font-size: 18px;
    text-decoration: none;
    cursor: default;
}

.vertical-menu a.nonactive2 {
    background-color: white;
    border: 2px solid #f44336; /* Red */
    color: grey;
    font-size: 18px;
    display: block;
    padding: 16px;
    text-decoration: none;
    border-top: double 5px #DCDCDC;
    border-bottom: dashed 1px #DCDCDC;
    cursor: default;
}

.vertical-menu a.real {
    background-color: white;
    border: 2px solid #f44336; /* Red */
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    color: darkgrey;
    display: block;
    padding: 16px;
    font-size: 14px;
    text-decoration: none;
}

.vertical-menu a.end {
    background-color: white;
    border: 2px solid #f44336; /* Red */
    border-top: solid 0.01px white;
    border-bottom: 2px solid #f44336; /* Red */
    display: block;
    padding: 16px;
    text-decoration: none;
}

.vertical-menu a.real:hover {
    color: black;
    transition: color 0.5s;
}



/* style basic button */
.buttonBasic {
    background-color: white;
    border: 2px solid #f44336; /* Red */
    color: black;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 8px;
}

.buttonBasic:hover {
    background-color: #f44336; /* Red */
    color: white;
}

.buttonBasic2 {
    background-color: lightgrey;
    border: 1px solid black;
    color: black;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 4px;
}

.buttonBasic2:hover {
    background-color: white;
    border: 1px solid white;
    color: grey;
}

/* style specific task cards with a lined paper style */
#taskcard li {
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    border-style: outset;
    border-width: 2px;
    border-color: lightgrey;
    display: inline-block;
    height: 25%;
    width: 60%;
    color: #560505; /* dark red */
    padding: 28px 28px;
    text-align: center;
    margin: 4px 2px;
}


/* Style Admin Add Task Button */
#add1 {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

#add2 {
    padding: 10px 15px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;

}

#add3 {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

#add4 {
    padding: 10px 15px;
    width: 100%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;

}
/* style task cards */
a.button1:link {
    background: #FEF5F8; /* light pink */
    border-style: solid;
    border-width: 2px;
    border-color: #D90E0E; /* dark orange */
    border-radius: 8px;
    color: #560505; /* dark red */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


a.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: #935E5E; /* dark grey pink */
}

/* style flagged cards */
.button0 {
    background-color: white;
    border: 2px solid lightgrey;
    color: #D3D3D3;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: not-allowed;
    border-radius: 8px;



}

/* Style Profic Picture Change */
.full-width {
    float:left;width:100%;margin-top:30px;min-height:100px;position:relative;cursor: default;
}
.form-style-fake {position:absolute;top:0px;}
.form-style-base {position:absolute;top:0px;z-index: 999;opacity: 0;}
.imgCircle {border-radius: 50%;}
.form-control {padding: 10px 50px; cursor: pointer;}
.form-input {height:50px;border-radius: 0px;margin-top: 20px;}
.Profile-input-file {
    height:180px;width:180px;left:33%;
    position: absolute;
    top: 0px;
    z-index: 999;
    opacity: 0 !important;
}
.mg-auto {
    margin:0 auto;max-width: 200px;overflow: hidden;
}
.fake-styled-btn {
    background: #006cad;
    padding: 10px;
    color: #fff;
}
#main-input {width:250px;}
.input-place{
    position: absolute;top:35px;left: 20px;font-size:23px;color:gray;}
.margin {margin-top:10px;margin-bottom:10px;}
.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bg-form {
    float:left;width:100%;
    position:relative;
    background: url("http://lorempixel.com/200/200/abstract/");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}
.bg-transparent {
    background: rgba(0,0,0,0.5);float: left;
    width: 100%;margin-top: 0px;
}
.container {
    background: url("http://lorempixel.com/800/800/nature/");
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-form {float: left;width:100%;border-radius: 20px;box-shadow: 0 0 16px #fff;overflow: hidden;
background: rgba(255,255,255,0.6);
}

.img-section h4{color:#fff;}

#PicUpload {
    color: #ffffff;
    width: 180px;
    height: 180px;
    background: rgba(255,255,255,0.4);
    padding: 100px;
    position: absolute;
    left: 30.5%;
    border-radius: 50%;
    display: none;
    top:15px;
}
.camera {
    font-size: 50px;
    color: #333;
}
.custom-btn {
    margin-top: 15px;
    border-radius: 0px;
    padding: 10px 60px;
    margin-bottom: 15px;
}
#checker {
    opacity: 0;
    position: absolute;
    top: 0px;
}
.color {
    color:#fff;
}

/* style for profile picture placeholder */
.form-control::-webkit-input-placeholder {
    color:lightgray;
    font-size:18px;
}
.form-control:-moz-placeholder {
    color:lightgray;
    font-size:18px;
}
.form-control::-moz-placeholder {
    color:lightgray;
    font-size:18px;
}
.form-control:-ms-input-placeholder {
    color:lightgray;
    font-size:18px;
}