{% extends "admin_layout.html" %}

{% block title %}
    Check in
{% endblock %}

{% block main %}
	<head>
		<script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" language="javascript" ></script>
		<script src="js/appParse.js" type="text/javascript" language="javascript" ></script>
		<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="css/style.css" type="text/css" rel="stylesheet" />

	</head>
	<body>
		<div class="container-fluid">
    		{% if not outstanding %}
    		    There are no outstanding messages to review.
    		{% endif %}

            {% if outstanding %}
        		<h1>Review Volunteer Messages</h1><br>
        		<div id="divtable">
        		    <table id="table2">
        		        <thead>
        		            <th>Username</th>
        		            <th>Comment</th>
        		            <th> Approve/ Delete </th>
        		        </thead>
        		        <tbody>

        		            <form action="/admin_message_board" method="post">
            		            {% for entry in outstanding %}
            		                <tr>
            		                    <td> {{ entry["username"] }}</td>
            		                    <td id="message"><p class="comment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ entry["comment"] }}</p></td>
            		                	<td>
	            		                	<button class="buttonBasic2" name = "approve" value = {{ entry["comment_id"] }} type = "submit"> Approve </button>
	            		                	&nbsp;/&nbsp;&nbsp;<button class="buttonBasic2" name = "delete" value = {{ entry["comment_id"] }} type = "submit"> Delete </button>
            		                	</td>
            		                </tr>
            		            {% endfor %}
        		            </form>

        		        </tbody>
        			</table>
        		</div>
			<hr>
            {% endif %}

            {% if not notifications %}
    		    There are no admin notifications to manage.
    		{% endif %}

            {% if notifications %}
        		<h1>Manage Admin Notifications</h1><br>
        		<div id="divtable">
        		    <table id="table2">
        		        <thead>
        		            <th>Notification</th>
        		            <th>Delete </th>
        		        </thead>
        		        <tbody>
        		            <form action="/admin_message_board" method="post">
            		            {% for entry in notifications %}
            		                <tr>
            		                    <td id="message"><p class="comment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ entry["comment"] }}</p></td>
            		                	<td>
	            		                	<button class="buttonBasic2" name = "admin_delete" value = {{ entry["comment_id"] }} type = "submit"> Delete </button>
            		                	</td>
            		                </tr>
            		            {% endfor %}
        		            </form>

        		        </tbody>
        			</table>
        		</div>
			<hr>
            {% endif %}

			<div class="row-fluid">
				<h1>Leave an admin message here.</h1><br>
				<form action="/admin_message_board" method="post" id="userform">
					<textarea class="form-control" rows="3" id="submission" cols="50" name="message" form="userform" placeholder="Message"></textarea>
					<br><br><button class="buttonBasic" type="submit">Send</button>
				</form>
				<hr>
			</div>
			<br></br>

			<div id="user">
				<div id="displayuserinfo">
				<ul>
		            <center><h2>Admin Notifications</h2></center><br>
					{% for message in admin_messages %}
		            <li><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{message["comment"]}}</b></li>
		            {% endfor %}
        		</ul>
				</div>
			</div>


			<br></br>
			<div id="divtable">
			    <table id="table2">
			        <thead>
			            <th>Username</th>
			            <th>Comment</th>
			            <th> Post Time </th>
			        </thead>
			        <tbody>
			            {% for entry in forum %}
			                <tr>
			                    <td> {{ entry["username"] }}</td>
			                    <td id="message"><p class="comment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ entry["comment"] }}</p></td>
			                	<td> {{ entry["post_time"] }} </td>
			                </tr>
			            {% endfor %}
			        </tbody>
    			</table>
			</div>
		</div>
	</body>
{% endblock %}