{% if admin == 1 %}
    {% extends "layout.html" %}
{% endif %}
{% if admin == 0 %}
    {% extends "admin_layout.html" %}
{% endif %}

{% block title %}
    Change Username
{% endblock %}

{% block main %}
    <h1>Change Username</h1>
    <hr class="index">
    <form action="/change_username" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Current Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="new_username" placeholder="New Username" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Username" type="text"/>
        </div>
        <br>
        <button class="buttonBasic" type="submit">Change Username</button>
    </form>
{% endblock %}
