{% if admin == 1 %}
    {% extends "layout.html" %}
{% endif %}
{% if admin == 0 %}
    {% extends "admin_layout.html" %}
{% endif %}

{% block title %}
    Change Name
{% endblock %}

{% block main %}
    <h1>Change Name</h1>
    <hr class="index">
    <form action="/change_name" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Current Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="new_firstname" placeholder="New First Name" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="new_lastname" placeholder="New Last Name" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation_first" placeholder="Confirm First Name" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation_last" placeholder="Confirm Last Name" type="text"/>
        </div>
        <br>
        <button class="buttonBasic" type="submit">Change Name</button>
    </form>
{% endblock %}
