{% extends "layout.html" %}

{% block title %}
    Check in
{% endblock %}

{% block main %}

    <h2><i>Task(s) You Signed up for:</i></h2>
    <hr>
        <ul id="taskcard">
            {% for row in owned_tasks %}
                    <li>
                        <h2>TASK: {{ row["task"] }}</h2>
                        <h3>Description: {{ row["task_description"] }}</h3>
                        <h4>TIME: {{ row["minutes"] }} minutes</h4>
                        <h4>Start Date: {{ row["start_date"] }}</h4>
                        <h4>Recurs every {{ row["recurrence_cycle"] }} day(s)</h4>
                        <h4>Task Score: {{ row["task_score"] }} </h4>
                    </li>

            {% endfor %}
        </ul>
        <hr>
    <form action="/checkin" method="post">
        <div class="form-group">
            <select class="form-control" name="task">
                <option disabled selected value="">Task</option>
                <!-- Create a dropdown menu that includes all tasks from owned_tasks-->
                {% for row in owned_tasks %}
                    <option value="{{ row['task'] }}">{{ row['task'] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="buttonBasic" type="submit">Check In</button>
    </form>
{% endblock %}
