{% if admin == 1 %}
    {% extends "layout.html" %}
{% endif %}
{% if admin == 0 %}
    {% extends "admin_layout.html" %}
{% endif %}

{% block title %}
    User Info
{% endblock %}

{% block main %}

<div id="user">
    <div id="displayuserinfo">
        <ul>
            {% for info in user %}
            <h2><p>{{ info['firstname'] }} {{ info['lastname']}} <font size=1><a href="/change_name">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp//&nbsp&nbsp&nbspChange Name</a></font></h2></p>
            <li><b><p>Username: {{info['username']}} <font size="1"><a href="/change_username">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp//&nbsp&nbsp&nbspChange Username</a></font></p></li>
            <li><p><a href="/change_password">Change Password</a></p></li>
            <li><p>Credit: {{info['credit']}}</p></li>
            {% endfor %}
            <li><p> <a href="https://slack.com/signin"> Slack </a> </p></b></li>
        </ul>
    </div>
</div>

<hr>
You have no outstanding tasks.
{% endblock %}